<app-hero [titleHero] = "'Entrez vos informations'"></app-hero>
<main>
    <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)" class="flex flex-col justify-center m-auto gap-2 max-w-[1000px] pl-8 pr-8">
        <label for="prenom" class=" text-white pt-2">Prénom</label>
        <input type="text" id="prenom" name="prenom" ngModel class="pl-2 pt-3 pb-3 rounded-lg bg-zinc-800 text-white" />
        <label for="nom" class=" text-white pt-2">Nom</label>
        <input type="text" id="nom" name="nom" ngModel class="pl-2 pt-3 pb-3 rounded-lg bg-zinc-800 text-white" />
        <input type="submit" value="Envoyer" class="block m-auto pr-7 pl-7 pt-2 pb-2 rounded-full mt-14 cursor-pointer bg-orange-500 text-white transition-all duration-10 hover:scale-90 hover:bg-orange-600" />
    </form>
</main>